body, html {
    min-height: 100%:
}
.contact-popup {
    width: 250px;
    min-height: 34px;

    position: fixed;
    bottom: 0;
    right: 30px;
    margin-bottom: 0;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;

    z-index: 1000;
}
.popup-open .contact-popup-body {
    height: 265px;
}
.contact-popup-title {
    background-color: #2980b9;
    background-color: #95a5a6;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    padding-bottom: 2px;
}
.contact-popup-title:hover {
    background-color: #3498db;
    background-color: #bdc3c7;
}
.contact-popup-title p {
    font-size: 16px;
    padding: 4px 0 0 10px;
    margin: 0;
}
.contact-popup-title .fa-bullhorn {
    padding: 8px 10px 0 0;
}
.contact-popup-body {
    width: 100%;
    height: 0;
    background-color: #ecf0f1;
    border-left: 1px solid #2980b9;
    border-right: 1px solid #2980b9;
    border-bottom: 1px solid #2980b9;
    border-left: 1px solid #95a5a6;
    border-right: 1px solid #95a5a6;
    border-bottom: 1px solid #95a5a6;
    transition: height 0.5s;
    -webkit-transition: height 0.5s; /* Safari */
    overflow: hidden;
}
.contact-popup-body p {
    font-size: 13px;
    padding: 7px 8px 0 8px;
    margin-bottom: 10px;
    text-align: center;
}
.contact-popup-body textarea {
    font-size: 13px;
    margin: 0 7px 7px 7px;
    width: 234px;
    height: 155px;
}
.contact-popup-body .btn-wrap {
    margin-right: 8px;
    text-align: right;
}
