{% extends 'base.html' %}
{% load i18n account socialaccount %}
{% block title %}Confirm Your Email Address{% endblock title %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/remindmelatr.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/remindmelatr.js"></script>
{% endblock extra_js %}
{% block content %}
    <div class="row">
        <div class="col-md-6 center-span">
            <div class="panel panel-success login-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Confirm Your Email Address' %}</h3>
                </div>
                <div class="panel-body">
                    {% user_display email_address.user as user_display %}
                    <p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>
                    <div class="btn-wrap">
                        <a href="{% url 'account_login' %}" class="btn btn-success"><span class="fui-check-inverted"></span> Sign in now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}




