{% extends 'base.html' %}
{% load i18n account socialaccount %}
{% block title %}Change Password{% endblock title %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/remindmelatr.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/remindmelatr.js"></script>
    {% providers_media_js %}
{% endblock extra_js %}
{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">Change Password</li>
{% endblock breadcrumbs %}
{% block content %}
    <div class="row">
        <div class="col-md-6 center-span">
            <div class="panel panel-success login-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Change Your Password' %}</h3>
                </div>
                <div class="panel-body">
                    <p>{% trans 'Please confirm your new password' %}</p>
                    <form class="form-horizontal" role="form" method="POST" action="{% url 'account_change_password' %}">
                        {% csrf_token %}
                        <div class="form-group{% if form.oldpassword.errors %} has-error{% endif %}">
                            <label for="id_oldpassword" class="col-sm-4 control-label">Current Password</label>
                            <div class="col-sm-7">
                                <input autofocus="autofocus" id="id_oldpassword" name="oldpassword" placeholder="Current Password"
                                    class="form-control" type="password">
                                {% if form.oldpassword.errors %}<span class="help-block">{{ form.oldpassword.errors.0 }}</span>{% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
                            <label for="id_password1" class="col-sm-4 control-label">New Password</label>
                            <div class="col-sm-7">
                                <input autofocus="autofocus" id="id_password1" name="password1" placeholder="New Password"
                                    class="form-control" type="password">
                                {% if form.password1.errors %}<span class="help-block">{{ form.password1.errors.0 }}</span>{% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
                            <label for="id_password2" class="col-sm-4 control-label">New Password Again</label>
                            <div class="col-sm-7">
                                <input autofocus="autofocus" id="id_password2" name="password2" placeholder="New Password Again"
                                    class="form-control" type="password">
                                {% if form.password2.errors %}<span class="help-block">{{ form.password2.errors.0 }}</span>{% endif %}
                            </div>
                        </div>
                            <div class="btn-wrap">
                                <button class="btn btn-large btn-success" type="submit">
                                    <span class="fui-check-inverted"></span> {%trans "Change Password" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
