{% extends 'base.html' %}
{% load i18n account socialaccount %}
{% block title %}Change Password{% endblock title %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/remindmelatr.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/remindmelatr.js"></script>
{% endblock extra_js %}
{% block content %}
    <div class="row">
        <div class="col-md-6 center-span">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Change Password' %}</h3>
                </div>
                <div class="panel-body">
                    <p>{% trans 'Your password was changed successfully.' %}</p>
                    {% url 'account_login' as login_url %}
                    <p>{% blocktrans %}You are now free to <a href="{{ login_url }}">log in</a> using your new password.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

