

{% extends 'base.html' %}
{% load i18n account socialaccount %}
{% block title %}Change Password{% endblock title %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/remindmelatr.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/remindmelatr.js"></script>
{% endblock extra_js %}
{% block content %}
    <div class="row">
        <div class="col-md-6 center-span">
            <div class="panel panel-{% if token_fail %}danger{% else %}success{% endif %}">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Change Password' %}</h3>
                </div>
                <div class="panel-body">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                            <p>The supplied password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                    {% else %}
                        {% if form %}
                            <form class="form-horizontal" role="form" method="POST" action=".">
                                {% csrf_token %}
                                <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
                                    <label for="id_password1" class="col-sm-3 control-label">New Password</label>
                                    <div class="col-sm-7">
                                        <input autofocus="autofocus" id="id_pasword1" name="password1" placeholder="New Password"
                                            class="form-control" type="password" value="{{ form.password1.value|default_if_none:"" }}">
                                        {% if form.password1.errors %}
                                            <span class="help-block">{{ form.password1.errors.0 }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
                                    <label for="id_password2" class="col-sm-3 control-label">Password Again</label>
                                    <div class="col-sm-7">
                                        <input id="id_pasword2" name="password2" placeholder="New Password"
                                            class="form-control" type="password" value="{{ form.password1.value|default_if_none:"" }}">
                                        {% if form.password2.errors %}
                                            <span class="help-block">{{ form.password2.errors.0 }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="btn-wrap">
                                    <input type="submit" name="action" class="btn btn-success" value="{% trans "Change password" %}"/>
                                </div>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password was changed successfully.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="panel-footer">
                    Please <a href="{% url 'website_contact' %}">contact us</a> if you have any trouble resetting your password.
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

