{% extends 'email_base.html' %}
{% load tz %}
{% block title %}Password Reset{% endblock title %}
{% block fbtitle %}Password Reset{% endblock fbtitle %}
{% block content %}
    <table border="0" cellpadding="20" cellspacing="0" width="100%">
        <tr>
            <td valign="top" class="bodyContent">
                {% localtime off %}
                    <div mc:edit="std_content00">
                        <h4 class="h4">Password Reset</h4>
                        <p style="padding-top:15px;">Hi {{ user.username|capfirst }},</p>
                        <p>You're receiving this email because you or someone else has requested a password reset for your user account at <a href="http://{{site.domain}}">{{ site.domain }}</a>.</p>
                        <p>If you did not request a password reset you can safely ignore this email.</p>
                        <p>Click the link below to reset your password.</p>
                        <p>{{ password_reset_url }}</p>
                        <br/>
                        <p>From your friends at {{ site.name }}.</p>
                {% endlocaltime %}
            </td>
        </tr>
    </table>
{% endblock content %}
