{% extends 'base.html' %}
{% load i18n %}
{% block title %}Why not get in touch{% endblock title %}
{% block page_class %}contact{% endblock page_class %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/remindmelatr.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/website.css" rel="stylesheet">
{% endblock extra_css %}
{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">Contact Us</li>
{% endblock breadcrumbs %}
{% block content %}
    {% for error in form.non_field_errors %}
        <div class="row">
            <div class="col-md-5 center-span">
                <div class="alert alert-danger">
                    <button class="close fui-cross" data-dismiss="alert"></button>
                    <p>{{ error|safe }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 center-span">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Contact Us' %}</h3>
                </div>
                <div class="panel-body">
                    <p class="form-desc">We always love to hear from you. Please fill out the form below to get in touch</p>
                    <form class="form-horizontal" role="form" method="POST" action="{% url 'website_contact' %}">
                        {% csrf_token %}
                        <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                            <label for="id_name" class="col-sm-3 control-label">Your Name</label>
                            <div class="col-sm-7">
                                {{ form.name }}
                                {% if form.name.errors %}
                                    <span class="help-block">{{ form.name.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                            <label for="id_name" class="col-sm-3 control-label">Your Email</label>
                            <div class="col-sm-7">
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <span class="help-block">{{ form.email.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group{% if form.message.errors %} has-error{% endif %}">
                            <label for="id_name" class="col-sm-3 control-label">Your Message</label>
                            <div class="col-sm-7">
                                {{ form.message }}
                                {% if form.message.errors %}
                                    <span class="help-block">{{ form.message.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button type="submit" class="btn btn-success"><span class="fui-check-inverted"></span> Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
