{% load common_tags %}
<nav class="navbar navbar-default navbar-lg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'home' %}{% endif %}">
              <span class="logo-satisfy">Remind Me Latr</span>
              <span class="logo-beta">[beta]</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-03">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="{% navactive request 'dashboard' %}">
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="{% navactive request 'overdue' %}{% navactive request 'upcoming' %}{% navactive request 'paused' %}{% navactive request 'completed' %}">
                        <a href="{% url 'reminders' %}">Reminders</a>
                    </li>
                    <li class="{% navactive request 'new' %}">
                        <a href="{% url 'new' %}">Add Reminder</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'settings' %}" title="Your Settings"><span class="fui-gear"></span> Settings</a></li>
                            <li><a href="{% url 'account_change_password' %}" title="Change Password"><span class="fui-lock"></span> Change Password</a></li>
                            <li>
                                <a href="{% url 'account_logout' %}" title="Sign Out"><span class="fui-exit"></span> Sign Out</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="{% navactive request 'account_signup' %}">
                        <a href="{% url 'account_signup' %}" class="login-link" title="Sign Up">Sign Up</a>
                    </li>
                    <li class="{% navactive request 'account_login' %}">
                        <a href="{% url 'account_login' %}" class="login-link" title="Login">Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
