{% extends 'base.html' %}
{% load i18n account socialaccount %}
{% block title %}Login Cancelled{% endblock title %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/remindmelatr.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/remindmelatr.js"></script>
{% endblock extra_js %}
{% block content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="row">
        <div class="col-md-6 center-span">
            <div class="panel panel-success login-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Login Cancelled' %}</h3>
                </div>
                <div class="panel-body">
                    {% url 'account_login' as login_url %}
                    <p>{% trans 'You have decided to cancel logging in via social account.' %}</p>
                    <p>If this was a mistake, please try <a href="{{ login_url }}">logging in</a> again.</p>
                    {% url 'account_signup' as signup_url %}
                    <p>Otherwise you can always <a href="{{ signup_url }}">create a new account</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
